@keyframes slideMobile {
    0% {
      transform: translateX(100%);
    }
    50% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  /* Aplica la animación solo en móvil */
  .animate-slide-mobile {
    animation: slideMobile 10s linear infinite;
  }
  
  @media (min-width: 640px) {
    .animate-slide-mobile {
      animation: none;
    }
  }


  